.main-header {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #000000;
    margin-bottom: 200px;
}


.main-navbar {
    background-color:#272343;
    position: -webkit-sticky;
    
    
   
    
} 
.text-navbar {
    color:#fff;
    font-size: 1rem
    
}

.brand-text {
    font-family: italic;
    padding-left: 1rem;
}

#basic-nav-dropdown {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.container-carousel {
    
     height: 800px;;;
     width: 800px;
     margin-top: 40px;
     justify-content: center;
     display: flex;
     
}
   
   
.image-carousel {
    height: 600px;
    width: 800px;
}
.main-container {
    height: 1000px;
    width: 1000px;
}
.carousel-control {
    color: #bada55;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    color: red;
    font-size: 20px;
}
.player-card {
     padding-top:50px;
     margin-left: 20px;
     
   
}
.card-photo {
    height: 200px;
    width: 200px
}


.icons {
    color: #ffff;
    padding-left: 10px;
    font-size:70;
}

.badge-img {
    height: 100px;
    width: 100px;
    padding-left: 25px;
    padding-top: 15px;
}

.break {
    
    background-color: #F4F4F4;
    margin-top: 10px;
    
   
   
   
    
}



.break-pastgames {

    background-color: #fff;
    width: 100%;
    
   
   
}
.league-table {
 align-items: center;
 display: flex;
 justify-content: center;
 margin: 60px 5%;
}

.league-text {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #000000;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.break-team {

    background-color: #0A1931;
    
   
    width: 100%;
    height: 700px;
   
   

}
.first-team {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding-top: 40px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    
}
.button-container {
    
    display: flex;
    justify-content: center;
}

.table-button {
    background-color: #e84545;
    
    color: #fff;
    text-align: center;
    height: 3.5rem;
    width: 8%;
    border-radius: 50px;
    border: 1px solid #e84545;
    margin-bottom: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;

}
@media only screen and (max-width: 1500px) {
    .table-button {
          height: 7vh;
          width:30vw;
    }
}

.table-button:hover {
    background-color: #272343;
    border: 1px solid #272343;
}
.fixtures {
    
    display:flex;
    justify-content: center;
    align-items: center;


}

.fixtures-text {
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    padding-left: 20px;
   
}

.fixtures-v {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
    padding-left: 20px;

}
.team-logo {
   padding-top: 10vh;
   padding-left: 0px !important;
    
  

   
    
}
.container {
    margin: 0px !important;
    padding: 0px !important;
}



.margin-row {
    margin: 0px !important;
}

.home-team {
    padding: 0px !important;
    position: relative;
}

.away-team {
    padding-right: 20px;
}

.schedule {
    background-color: #272343;
    justify-content: center;
    display: flex;
   
  
  
   
     margin: 0px 0px 15px;
   
    border-radius: 25px;
    
}
.schedule-pastgames {
    background-color: #16c79a;
    width: 80px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 15px;
    border-radius: 25px;

}
.calendar {
      margin: 0px 20px;
}


.location {
    
    color: #fff;
    font-size:0.8rem;
    padding-top: ;
    font-family: Arial,
    Helvetica,
    sans-serif;
    
    text-align: center;
   
}
@media only screen and (max-width:800px) {
    .location {
        font-size: 0.5rem;
    }
}

.vs-text {
    color: #fff;
    font-size:0.5rem;
     padding-top: ;
     font-family: Arial,
     Helvetica,
     sans-serif;
   display: flex;
   justify-content: center;
  
   
}

@media only screen and (max-width:800px) {
    .vs-text {
        font-size: 0.3rem;
    }
}

.game-time {
  
    width: 50px;
    
}



.logo-img {
  
    height: 5vh;
    width: 4vw;
}

.games-container {
    background-color: #000000;
   
    width: 100%;
   

}

.games {
    color: #fff;
    font-weight: bold;
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-style: italic;
    font-size: 20px;
    padding-left: 150px;
    padding-top: 20px;
    display: flex;
    
     align-items: center;

    
    
}

.game-text {
    padding-left: 40px;
     color: #fff;
     font-weight: bold;
     font-family: Arial,
     Helvetica,
     sans-serif;
     font-style: italic;
     font-size: 20px;

}
.schedule-text {
    padding-left: 40px;
    color: #fff;
    font-weight: bold;
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-style: italic;
    font-size: 30px;
   
   
    text-align: center;


}

ul {
    list-style-type: none;
}

.date-schedule {
    color: #fff;
    font-size:0.8rem;
    padding-top: 5px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-weight: bold;
    
    align-items: center;
    
}
@media only screen and (max-width: 800px) {
    .date-schedule {
        word-wrap: break-word;
        font-size: 0.5rem;
    }
}


.team-name {
    padding-top: ;
     color: #fff;
     font-family: Arial,
     Helvetica,
     sans-serif;
     font-size: 0.4rem;
     text-align: center;

}

.games-header {
    color: #fff;
    font-family: Arial,
    Helvetica,
    sans-serif;
    font-style: italic;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.league-table {

    margin-bottom: 20px;
    
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}
table {
    width: 100%; 
    table-layout: fixed;
    align-items: center;
}

td {
    font-size: 0.8rem;
    font-weight: bold;
    color: #797e87 !important;
}

  @media only screen and (max-width: 800px) {
      td {
          font-size: 0.4rem;
      }
  }

th {
    background-color: #e84545;
    height: 60px;
    font-size: 0.8rem;
    font-weight: bold;
   
}

.footer {
    background-color: #272343;
    border: 1px solid;
    
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.footer-style {
    display: block;
    padding: 20px;
    height:100px;
    width: 100%;
}

.rec-arrow[disabled] {
    transform: scale(0);
}

.news-card {
  
    margin: auto;
    padding: 20px 10% 0px
}
@media only screen and (max-width: 800px) {
    .news-card {
        padding-left: 75px;
    }
}

.latest-news {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: a;
}

.news-container {
    width: 10vw;
    height: 30vh;
    background-color: #fff;
    
   
}
@media only screen and (max-width: 600px) {
    .news-container {
        width: 30vw;
    }
}

.news-img {
    width: 15vw;
    height: 30vh;
   
}
@media only screen and (max-width: 800px) {
    .news-img {
        width: 30vw;
    }
}

.news-date {
    color: red;
    margin: 40px 10px 10px 20px;
    font-weight: bold;
    font-size: 0.7rem;
   

}

.news-date:hover {color: black;}

.news-headline {
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
    border: none;
    background-color: inherit;
    word-wrap: break-word;
}

.news-headline:hover {color: red;}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
}
.form-header {
    text-align: center;
    font-weight: bold;
    font-family: a;
    font-size: 2.5rem;
}
form {
    
    
    padding: 1.5rem 30%
}
 .form-label {
     padding-top: 1.5rem;
 }

 .form-button {
     width: 100px;
     height: 40px;
      background-color: green;
      color: #fff;
      
 }
.gallery {
    width: 15vw;
    height: 35vh;
    padding: 2rem 0.5rem;
}
@media only screen and (max-width: 800px) {
    .gallery {
        width: 90px;
        height: 200px;
        padding: 0.5rem 0.1rem;
    }
}

.gallery-container {
    margin: 1rem 0rem;
    
}
